#three-col
  #col1
    #jars
      %h1 
        Jars
      .loading-wrap
        %div.loading{:class => "hidden"}
          %img{:src => '/images/ajax-loader.gif'}
      %ul.list
        %li.jar-name
  #col2
    #classes
      %h1 
        Classes
      .loading-wrap
        %div.loading{:class => "hidden"}
          %img{:src => '/images/ajax-loader.gif'}
      .searchbox
        %input{:type => 'text'}
      %ul.list
        %li.class-name
  #col3
    #classdetail
      %h1 
        Class Detail
      .loading-wrap
        %div.loading{:class => "hidden"}
          %img{:src => '/images/ajax-loader.gif'}
      %div
        Please choose a class to see details

