!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      = @title
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.js"}
      
  %body
    .two-col
      = yield
