#sidebar
  #searchbox
    %input{:type => 'text'}
  
#content
  #package
    java.util

  #full-class-name
    java.util.Formatter

  %h1
    Formatter

  %h1
    Methods

  %table
    %thead
      %th
        Name
      %th
        Params
    %tbody



