/* Pallet */
/* http://www.colourlovers.com/palette/292482/Terra */
/* Blueprint Grid */
/* Forms */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.feedback, .error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.error a, .alert a {
  color: #8a1f11;
}

.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.notice a {
  color: #514721;
}

.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.success a {
  color: #264409;
}

.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.info a {
  color: #205791;
}

.hide {
  display: none;
}

.highlight {
  background: yellow;
}

.added {
  background: #006600;
  color: white;
}

.removed {
  background: #990000;
  color: white;
}

a {
  /* normal hover active visitied focus */
  color: #031634;
}
a:visited {
  color: #031634;
}
a:focus {
  color: #033649;
}
a:hover {
  color: #033649;
}
a:active {
  color: #033649;
}

body {
  font-size: 90%;
  line-height: 1.5em;
  /* padding: 20px */
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  /*+grid-background */
  margin: 1em 0;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body a {
  text-decoration: underline;
  color: #0066cc;
}
body a:visited {
  color: #004c99;
}
body a:focus {
  color: #0099ff;
}
body a:hover {
  color: #0099ff;
}
body a:active {
  color: #bf00ff;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong, body dfn {
  font-weight: bold;
}
body em, body dfn {
  font-style: italic;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: #eeeeee;
}
body .quiet {
  color: #666666;
}
body .loud {
  color: #111111;
}
body ul {
  padding-left: 0;
  list-style: none;
}
body ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

#three-col {
  /* The container mixin forces everything to be centered */
  /*+container */
}
#three-col #col1 {
  height: 100%;
  padding-left: 10px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 240px;
  background-color: white;
}
* html #three-col #col1 {
  overflow-x: hidden;
}
#three-col #col2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 240px;
}
* html #three-col #col2 {
  overflow-x: hidden;
}
#three-col #col3 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 690px;
}
* html #three-col #col3 {
  overflow-x: hidden;
}

#loading {
  height: 45px;
  margin-bottom: 5px;
}

#searchbox {
  padding: 5px;
  background-color: white;
}

#refresh {
  display: none;
  height: 45px;
  margin-bottom: 5px;
}
#refresh imgp {
  vertical-align: middle;
}
#refresh a {
  text-decoration: none;
  font-size: 120%;
  color: #0099ff;
}

#message {
  display: none;
  border: 3px solid #b9090b;
  margin: 10px 0;
  padding: 4px;
}

#note {
  float: right;
  display: none;
}

/* Lists */
li {
  padding: 2px;
}

/* JavaDoc styles */
.hidden {
  display: none;
}

#jars {
  height: 300px;
  background-image: url("../images/jars.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

#jars a {
  text-decoration: line-through;
  padding: 0px 22px;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: left center;
  /* normal hover active visited focus */
  color: #e8ddcb;
}
#jars a:visited {
  color: #e8ddcb;
}
#jars a:focus {
  color: #e8ddcb;
}
#jars a:hover {
  color: #cdb380;
}
#jars a:active {
  color: #cdb380;
}

#jars a.selected {
  text-decoration: underline;
  background-image: url('../images/link_icons/accept.png?1319833508');
  padding: 0px 22px;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: left center;
  /* normal hover active visited focus */
  color: #031634;
}
#jars a.selected:visited {
  color: #031634;
}
#jars a.selected:focus {
  color: #031634;
}
#jars a.selected:hover {
  color: #033649;
}
#jars a.selected:active {
  color: #033649;
}

#classes #loading-wrap {
  height: 30px;
}
