/* Blueprint Grid */
/* Forms */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Inlude this file in your app.sass like so: */
/* @import "upgradingdave/forms" */
/* <form method="post" action="http://localhost/form.html"> */
/*   <fieldset> */
/*     <p id="email"> */
/*       <label> */
/* 	Email Address */
/*       </label> */
/*       <br> */
/*       <input type="text" value="bparoulek@gmail.com" name="email" id="email"> */
/*     </p> */
/*     <div id="active"> */
/*       <input type="hidden" value="true" name="active" id="active"> */
/*     </div> */
/*     <p id="submit"> */
/*       <input type="submit" value="Create User" id="dirname"> */
/*     </p> */
/*   </fieldset> */
/* </form> */
label {
  font-weight: bold;
}

fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
}

input.text, input.title, input[type=email], input[type=text], input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
input.title {
  font-size: 1.5em;
}

textarea {
  margin: 0.5em 0;
  padding: 5px;
}

select {
  margin: 0.5em 0;
}

fieldset {
  border: 1px solid #cccccc;
}

input.text, input.title, input[type=email], input[type=text], input[type=password],
textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
input.text:focus, input.title:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus,
textarea:focus {
  border: 1px solid #666666;
}

select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

input.text, input.title, input[type=email], input[type=text], input[type=password] {
  width: 150px;
}

textarea {
  width: 390px;
  height: 250px;
}

fieldset p {
  margin-bottom: 0.6em;
}

.error {
  color: red;
  margin-left: 10px;
}

/* @import "upgradingdave/buttons" */
/* Blueprint Buttons */
.button {
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
}
.button:active {
  background-color: #6299c5;
  border-color: #72a9d5 #6299c5 #6299c5 #72a9d5;
  color: white;
}
.button:hover {
  background-color: #dff4ff;
  border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
  color: #336699;
}
.button {
  *display: inline;
}
.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
.button[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html .button[type] {
  padding: 4px 10px 3px 7px;
}

.button-link {
  background-color: #f5f5f5;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
}
.button-link:active {
  background-color: #6299c5;
  border-color: #72a9d5 #6299c5 #6299c5 #72a9d5;
  color: white;
}
.button-link:hover {
  background-color: #dff4ff;
  border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
  color: #336699;
}
.button-link {
  *display: inline;
}
.button-link img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

.disabled {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #dddddd;
  border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
  color: #cccccc;
  cursor: default;
}
.disabled {
  *display: inline;
}
.disabled img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
.disabled[type] {
  padding: 4px 10px 4px 7px;
  line-height: 17px;
}
*:first-child + html .disabled[type] {
  padding: 4px 10px 3px 7px;
}
.disabled:hover {
  background-color: #dddddd;
  border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
  color: #cccccc;
}

/* @import "upgradingdave/selections" */
/* Helpful for showing items are selected in a list */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead tr th {
  vertical-align: bottom;
  color: #666666;
  padding: 0 0 2px;
  font-weight: bold;
  font-size: 120%;
}

tr td, tr th {
  border-bottom: 1px solid #d9d5be;
}

tr td {
  height: 3em;
}

.user-col {
  width: 20%;
}

.other-col {
  padding: 0 10px 0 10px;
}

body {
  font-size: 90%;
  line-height: 1.5em;
  /* padding: 20px */
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  /*+grid-background */
}

h1 {
  color: #484848;
  font-size: 2em;
  margin: 0 0 20px 0;
}

.two-col {
  /* The container mixin forces everything to be centered */
  /*+container */
}
.two-col #sidebar {
  height: 100%;
  padding-left: 10px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  background-color: white;
}
* html .two-col #sidebar {
  overflow-x: hidden;
}
.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
* html .two-col #content {
  overflow-x: hidden;
}

#loading {
  height: 45px;
  margin-bottom: 5px;
}

#searchbox {
  padding: 5px;
  background-color: white;
}

#refresh {
  display: none;
  height: 45px;
  margin-bottom: 5px;
}
#refresh img {
  vertical-align: middle;
}
#refresh a {
  text-decoration: none;
  font-size: 120%;
  color: #0099ff;
}

#message {
  display: none;
  border: 3px solid #b9090b;
  margin: 10px 0;
  padding: 4px;
}

#note {
  float: right;
  display: none;
}

/* Lists */
li {
  padding: 2px;
}

/* JavaDoc styles */
#class-overview {
  margin-bottom: 2em;
  line-height: 2em;
}

#short-class-name {
  font-size: 3em;
  margin-bottom: 0.3em;
}

#class-hierarchy {
  line-height: 1.2em;
}

#class-details {
  margin-bottom: 2em;
}

#class-constructors {
  line-height: 2em;
  margin-bottom: 2em;
}

#class-methods {
  line-height: 2em;
  margin-bottom: 2em;
}

.selected {
  background: #dddddd;
  color: white;
}
